<mat-nav-list>
  <a mat-list-item routerLink="/home" routerLinkActive="active">
    <mat-icon>camera_alt</mat-icon>
    <span class="nav-link">Feed</span>
  </a>

  <a mat-list-item routerLink="/my-posts" routerLinkActive="active">
    <mat-icon>cloud_upload </mat-icon>
    <span class="nav-link">My Posts</span>
  </a>

  <a mat-list-item routerLink="/profile" routerLinkActive="active">
    <mat-icon>settings</mat-icon>
    <span class="nav-link">Profile</span>
  </a>

  <a mat-list-item (click)="onExit()">
    <mat-icon>exit_to_app</mat-icon>
    <span class="nav-link">Exit</span>
  </a>
</mat-nav-list>
