<div class="form">
  <mat-card>
    <mat-card-content>
      <h1>Edit Profile Info</h1>

      <form [formGroup]="profileForm.baseForm" (ngSubmit)="onUpdate()">
        <mat-form-field class="full-width-input">
          <input
            matInput
            formControlName="name"
            type="text"
            placeholder="Name"
            required
          />
          <mat-error *ngIf="checkField('name')">
            {{ profileForm.errorMessage }}
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width-input">
          <input
            matInput
            formControlName="lastname"
            type="text"
            placeholder="Lastname"
            required
          />
          <mat-error *ngIf="checkField('lastname')">
            {{ profileForm.errorMessage }}
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width-input">
          <input
            matInput
            formControlName="email"
            type="text"
            placeholder="Email"
            required
          />
          <mat-error *ngIf="checkField('email')">
            {{ profileForm.errorMessage }}
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width-input separator">
          <input
            matInput
            formControlName="password"
            [type]="hide ? 'password' : 'text'"
            placeholder="New Password"
            required
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            type="button"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>

          <mat-error *ngIf="checkField('password')">
            {{ profileForm.errorMessage }}
          </mat-error>
        </mat-form-field>

        <button
          [routerLink]="['/home']"
          mat-raised-button
          type="button"
          color="warn"
        >
          Cancel
        </button>

        <button
          [disabled]="profileForm.baseForm.invalid"
          mat-raised-button
          type="submit"
          color="primary"
        >
          Update
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
