.register-form {
  padding: 4rem 1rem;
}

.register-form > mat-card {
  max-width: 300px;
  margin: 2rem auto;
  text-align: center;
  height: 350px;
}

.register-form > .full-width-input,
button {
  width: 100%;
}

.separator {
  margin-bottom: 2rem;
}

.full-width-input {
  width: 100%;
}
