/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  /* display: flex;
  flex-direction: column; */
}
body {
  /* position: relative; */
  min-height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.form {
  padding: 1rem 1rem;
}

.form > mat-card {
  max-width: 300px;
  margin: 2rem auto;
  text-align: center;
  height: 420px;
}

.form > .full-width-input {
  width: 100%;
}

.separator {
  margin-bottom: 2rem;
}

.full-width-input {
  width: 100%;
}

/* Float four columns side by side */
.column {
  display: inline-block;
  width: 25%;
  padding: 0 10px;
  margin-bottom: 12px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {
  margin: 40px -5px;
  margin-bottom: 12px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 400px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
