<button mat-raised-button type="button" color="primary" routerLink="new-post">
  New Post
</button>

<div class="row">
  <div class="column" *ngFor="let p of posts">
    <div class="card">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Post ID: {{ p.id }}</mat-card-title>
          <!-- <mat-card-subtitle
            >{{ p.user.name | titlecase }}
            {{ p.user.lastname | titlecase }}</mat-card-subtitle
          > -->
        </mat-card-header>
        <img mat-card-image [src]="p.image" />
        <mat-card-content>
          <p>{{ p.caption }}</p>
        </mat-card-content>

        <mat-card-footer>
          <button
            mat-raised-button
            type="button"
            color="primary"
            [routerLink]="['/my-posts', p.id]"
          >
            Edit
          </button>

          <button mat-raised-button type="button" color="warn">Delete</button>
        </mat-card-footer>
      </mat-card>
    </div>
  </div>
</div>
